@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #fff;

  font-family: 'Oleo Script', cursive;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
}

/*h1 {
  position: relative;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1.5em auto;
  width: 95%;
  margin: 0 auto;
}*/

.oleo {
  font-family: 'Oleo Script', cursive;
}

.amatic {
  font-family: 'Amatic SC', cursive;
}

.max {
  margin-left: auto;
  margin-right: auto;
  max-width: 20em;
}

.hover:hover {
  color: white;
  background-color: #2587c8;
}

.sign-up {
  color: white;
}

a,
a:link,
a:visited {
  color: white;
  text-decoration: none;
}

.img-flex {
  display: block;
  width: 100%;
}

.title {
  display: block;

  text-align: center;
}

.title a {
  color: white;
  text-decoration: none;
}

.nav {
  padding: 0;

  list-style-type: none;
}

.nav a {
  display: block;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav a.current {
  background-color: #2587c8;

  color: #fff;
}

a:focus {
  outline: 3px solid;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #000;
  color: #fff;
  padding: 0.5em 0.75em;
  font-weight: bold;
}

.skip-links a:focus {
  top: 0;
}

.blue-text {
  color: #2587c8;
}

.white-text {
  color: white;
}

.section-dark {
  background-color: black;
}

.section-mid {
  background-color: #e2e2e2;
}

.section {
  background-color: #efefef;
}

.banner {
  background-image: url(../images/moon.jpg);
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 3.5em;
}

.banner-tour {
  background-image: url(../images/holding-sun.jpg);
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 3.5em;
}

.banner-pricing {
  background-image: url(../images/48.jpg);
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 3.5em;
}

.banner-signup {
  background-image: url(../images/free.jpg);
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  padding: 3.5em;
}

.contrast {
  background-color: #1ad3f1;
}

@media only screen and (min-width: 25em) {

  .nav {
    text-align: center;
  }

  .nav li {
    display: inline-block;
  }

}

@media only screen and (min-width: 38em) {

  .title, {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
